.allprg{
    margin-top: 40px;
}
.prg1{
    text-align: justify;
}
.illustimage{
    display: flex;
    justify-content: center;
    margin: 5px 0 25px 0;
}
.scroll1-img1{
    height: 300px;
}
.scroll1-img2{
    height: 550px;
}
.scroll2-img1{
    height: 350px;
    margin-bottom: 15px;
}
.allprg .accordion-body ul{
    list-style-type:decimal;
}
.allprg .accordion-body ul li a{
    font-size: 17px;
    text-decoration: none;
}
.scroll1img{
    width: 370px;
    height: 300px;
    margin: 10px 0 20px 0;
}
.prgnavbar{padding-right: 200px;}